# server
BETTER_AUTH_SECRET=cMeowMeowMeowMeow
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001

DATABASE_URL=postgresql://postgres:postgres@124.0.1.1:54322/postgres
DIRECT_URL=postgresql://postgres:postgres@126.0.1.1:54322/postgres


# Web
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

