@import url("https://fonts.googleapis.com/css2?family=Geist:wght@500;600&display=swap");

/* app.css or main.css */
@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

/* Your custom styles */

@theme {
  --font-geist: "Geist", sans-serif;
  --font-excalifont: "Excalifont", sans-serif;
  --color-blue: #288dff;
  --color-white: #fff;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

.heading-font {
  font-family: "Geist", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1;
}

.body-font {
  font-family: "Geist", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
}

@font-face {
  font-family: Excalifont;
  src: url("/fonts/Excalifont-Regular.woff2");
}

/* Shift Excalidraw UI elements to the right when sidebar is open or closed */
.excalidraw-container-sidebar-open .excalidraw .layer-ui__wrapper {
  left: 280px !important;
  width: calc(100% - 280px) !important;
  transition:
    left 0.2s ease-in-out,
    width 0.2s ease-in-out;
}

.excalidraw-container-sidebar-closed .excalidraw .layer-ui__wrapper {
  left: 60px !important;
  width: calc(100% - 60px) !important;
  transition:
    left 0.2s ease-in-out,
    width 0.2s ease-in-out;
}
